<div class="row">
<%= form_with model: @documentary, url: documentary_path,  method: :post do  |form| %>
    <fieldset>
        <legend>New DocumentaryFilm</legend>
        <div class="col-4 mb-3">
            <%= form.label :name, "Name", class: "form-label" %>
            <%= form.text_field :name, class: "form-control", required:true %>
        </div>

        <div class="col-4 mb-3">
            <%= form.label :synopsis, "Synopsis", class: "form-label" %>
            <%= form.text_field :synopsis, class: "form-control", required:true %>
        </div>

        <div class="col-4 mb-3">
            <%= form.label :director, "Director", class: "form-label" %>
            <%= form.text_field :director, class: "form-control", required:true %>
        </div>
        
        <div class="col-4 mb-3">
            <%=  form.submit "Add", class: "btn btn-primary btn-md" %>
        </div>
    </fieldset>
<% end %>
</div>