
<div class="row">
<%= render 'form', series: @series %>
</div>
<br>
<h1>All Series</h1>
<div class="row">
    <div class="card mb-3">
        
        <div class="card-body table-responsive">
            <table class="table table-striped">
                <caption>Series</caption>
                <thead>
                    <tr>
                        <th scope="col" class="col-1">#</th>
                        <th scope="col" class="col-3">Nombre</th>
                        <th scope="col" class="col-4">Resumen</th>
                        <th scope="col" class="col-2">Director</th>
                        <th scope="col" class="col-2">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                <% @count = 1 %>
                <% @seriesall.each do |p| %>
                    <tr>
                        <th scope="row"><%= @count %></th>
                        <td><%= p.name %></td>
                        <td><%= p.synopsis %></td>
                        <td><%= p.director %></td>
                        <td><%= p.created_at.strftime("%d-%m-%Y  %H:%M") %></td>
                    </tr>
                    <% @count += 1 %>
                <% end%>
                </tbody>
            </table>

        </div>
    </div>
</div>

